{% extends 'base.html.twig' %}

{% block title %}Hello DeleteAccountController!{% endblock %}

{% block body %}
  <div>
    <div class="title">
      <h1>Vous avez reçu un nouveau message</h1>
    </div>
    <div class="information">
      <h2>Informations :</h2>
      {{ user.lastName ~ ' ' ~ user.firstName}}
      vous à contacté concernant
      {{ pet.name }}
    </div>
    {# <hr>
    <h2>Message :</h2>
    <p>
      {{ content }}
    </p> #}
    <hr>
    <h2>Utilisateur :</h2>
    <div class="user">
      <p>
        Nom :
        {{ user.lastName }}
      </p>
      <p>
        Prénom :
        {{ user.firstName }}
      </p>
      <p>
        Email :
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
      </p>
      <p>
        Pseudo :
        {{ user.pseudo }}
      </p>
    </div>
    <hr>
    <h2>Pet :</h2>
    <div class="user">
      <p>
        Nom :
        {{ pet.name }}
      </p>
      <p>
        Description :
        {{ pet.description }}
      </p>
    </div>

  </div>
{% endblock %}
