{% extends 'base.html.twig' %}

{% block title %}Hello DeleteAccountController!{% endblock %}

{% block body %}
  <div>
    <p>Bonjour,</p>
    <p>Après validation de votre part, votre compte à bien été supprimé.</p>
  </div>
{% endblock %}
