{% extends 'base.html.twig' %}

{% block title %}Hello DeleteAccountController!{% endblock %}

{% block body %}
  <div>
    <p>Bonjour,</p>
    <p>la demande de suppression de votre compte à bien été prise en compte, elle sera effective à partir du :
    </p>
    <p>
      {{user_data.deletion_date }}</p>
    <p>La suppréssion de votre compte sera effective et definitive à partir du moment ou vous aurez cliqué sur le bouton ci-dessous.</p>
    <p>
      <a href="{{ user_data.encoded_url }}">Supprimer votre compte, clique maintenant.</a>
    </p>
  </div>
{% endblock %}
